{% block content %}
  <h2>Upload</h2>
  <meta name="referrer" content="no-referrer">
  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="document">
      <button type="submit">Upload file</button>
    </form>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
          <li><a style="font-size:120%" class="nav-link">{{ user.username }}</a></li>
          <li><a style="font-size:120%; padding-right:20px" class="nav-link" href="/logout">Log out</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
          <li><a style="font-size:120%; padding-right:20px" class="navbar-link" href="/login/auth0">Login</a></li>
      </ul>
      {% endif %}
    </form>
  </div>
<!--
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
-->
{% endblock %}